<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate > 
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" style="color:red;" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Email is required.
    </span>
    <span class="error ion-padding" style="color:red;" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      must be an email
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>

    <span class="error ion-padding" style="color:red;" *ngIf="isSubmitted && errorControl.password.errors?.required">
      password is required.
    </span>
    <span class="error ion-padding" style="color:red;" *ngIf="isSubmitted && errorControl.password.errors?.minLength">
      password must be at least more than 2 caracters
    </span>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>